name: Backend workflow

#Triggers on demand and pull request with changes on main.
on:
  workflow_dispatch:
  push:
    pull-request:
      types:
        - opened
      branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: cd starter/backend && pip install pipenv && pipenv install --dev

      - name: Run the linter
        run: cd starter/backend && pipenv run lint

      - name: Run the test
        run: cd starter/backend && pipenv run test 
        
      - name: Building the app with Docker
        run: |
          cd starter/backend
        #Build the image
          docker build --tag backend_image:$GITHUB_SHA .
        #Run the image
          docker run -p 5000:5000 --name backend_container -d backend_image:$GITHUB_SHA 
        # Check the app
          curl http://localhost:5000/movies
        #Review logs
          docker logs -f backend_container
        # Expected output
          {"movies":[{"id":"123","title":"Top Gun: Maverick"},{"id":"456","title":"Sonic the Hedgehog"},{"id":"789","title":"A Quiet Place"}]}
        # Stop the application
          docker stop



