name: Backend Continuous Integration

#Triggers on demand and pull request with changes on main.
on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
    branches:
      - main
  push:
    branches:
      - main
env:
  ECR_URL: 808776853110.dkr.ecr.us-east-1.amazonaws.com/project_cicd/final_project
  
jobs:
  lint-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pipenv'
          cache-dependency-path: 'starter/backend/pipfile.lock'

      - name: Install dependencies
        run: cd starter/backend && pip install pipenv && pipenv install --dev

      - name: Run the linter
        run: cd starter/backend && pipenv run lint
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pipenv'
          cache-dependency-path: 'starter/backend/pipfile.lock'

      - name: Install dependencies
        run: cd starter/backend && pip install pipenv && pipenv install --dev

      - name: Run the test
        run: cd starter/backend && pipenv run test
    
  build-job:
    needs: [lint-job, test-job]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure the AWS credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
    
      - name: Building the app with Docker and pushing to ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: project_cicd/final_project
          IMAGE_TAG: ${{ github_sha }}
        run: |
          cd starter/backend
          #Build the image
          docker build --tag $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          #Push the image
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG

      - name: Build the Kubernetes manifest
        run: |
          cd starter/backend/k8s
          #aws eks update-kubeconfig

          kustomize edit set image frontend=$REGISTRY/$REPOSITORY:$GITHUB_SHA

          kustomize build | kubectl apply -f -




